<!DOCTYPE html>

<!--Página inicial-->
<html lang="pt-BR" style="width:100%">

	<head>
		<title>Acessibilidade</title>

		<!-- Metadados -->
		<meta charset="utf-8">

	</head>

	<body style="width:100%;">

 

       <!--Conteúdo da página inicial-->

            <!--Section principal - conteúdo em geral-->
        <section id="conteudo">
            <br>
            <ul class="breadcrump">
                <li><a href="index.html" style="color: #86A569;">Início</a></li>
                <li>Acessibilidade</li>	
            </ul>

            <h2 class="titulo_acess">Página Acessibilidade</h2>	
        
                <section id="bloco_acess">
                    
                    <main id="conteudo_acess" tabindex="0">
                       <br><br>
                        <p class="acessibilidade">Este site foi desenvolvido para que pessoas com deficiência visual, baixa visão, daltonismo, deficiência auditiva e mobilidade reduzida possam navegar por meio de recursos como alto contraste, aumento de fonte, teclas de atalho, tradução para a Língua Brasileira de Sinais e navegação por teclado.</p>
                        <p class="acessibilidade">Para aumentar a fonte, é só clicar no símbolo de A+ em nossa barra de acessibilidade. Caso queira voltar ao tamanho de fonte original, é só clicar em A-.</p>
                        <p class="acessibilidade">Se for necessário, você também pode usar o zoom nativo do seu navegador, pressionando as teclas “Ctrl” e “+” para aumentar todo o site e “Ctrl” e “-“ para diminuir. Para voltar ao padrão, pressione “Ctrl” e “0”.</p>
                        <p class="acessibilidade">Este site tem melhor acessibilidade quando acessado nas versões mais atualizadas do seu navegador web. Utilize sempre a versão mais recente de seu software.</p>
                       
                        <br><p class="acessibilidade"><b>Teclas de atalho por navegadores</b></p><br>
                        
                        <p class="acessibilidade"><u>Internet Explorer e Google Chrome:</u> “Alt” + “1” - ir para o conteúdo. “Alt” + “2” - ir para o menu. “Alt” + “3” - ir para o rodapé.</p>
        
                        <p class="acessibilidade"><u>Firefox:</u> “Alt” + “Shift” + “número”.</p>
        
                        <p class="acessibilidade"><u>Opera:</u> “Shift” + “Escape” + “número”.</p>

                        <p class="acessibilidade"><u>Safari e OmniWeb:</u> “Ctrl” + “número”.</p>
        
                        <br><b><p class="acessibilidade">Navegação por tabulação</p></b><br>
                        <p class="acessibilidade">Use a tecla Tab para navegar por elementos que recebem ação do usuário no site, tais como links, botões, campos de formulário e outros na ordem em que eles são apresentados na página, e <u>Shift + Tab</u> para retornar. Use as setas direcionais para acessar as informações textuais.</p>
                      
                        <br><b><p class="acessibilidade">LIBRAS - Língua Brasileira de Sinais</p></b><br>
                        <p class="acessibilidade">Este site é acessível em LIBRAS através do <a href="http://www.vlibras.gov.br/" target="_blank"><b class="fontepreta">VLibras</b></a>.</p>
                        <p class="acessibilidade">-Do lado direito de cada página do site existe o ícone de um Widget informando que o site é acessível em LIBRAS.</p>
                        <p class="acessibilidade">-Para traduzir, basta clicar sobre o ícone e selecionar o texto que deseja traduzir.</p><br>
                        <br><br>
                    </main>	
        
                </section>
                <br><br>
        </section>
        <br><br>

        <!--Rodapé-->
         <footer id="rodape">
            Todos os direitos reservados &copy; 2021
        </footer>

    </body>

</html>





